h1.title {
	color: #a90000;
	font-family: arial;
	font-size: 42px;
	text-align: center;
	padding:0px;
}

h2.title {
	color: #a90000;
	font-family: arial;
	font-size: 32px;
	text-align: left;
	padding:0px;
}

p.normal {
	text-indent: 30px;
	color: #00554a;
	font-family: arial;
	font-weight: medium;
	font-size: 16px;
	text-align: left;
	line-height: 30px;
}

p.small {
	font-size:14px;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #000000;
}

ul.directory {
	list-style-type: none;
	text-align: center;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

ul.directory li {
	display:inline-block;
    *display:inline; /*IE7*/
    *zoom:1; /*IE7*/
    background:#000000;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 10px;
    color: #00554a;/*#9a0000;*/
	font-family: arial;
	font-weight: bold;
	font-size: 20px;
    margin-right:2%;
}

ul.horizontallist {
	list-style-type: none;
	text-align: center;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

ul.horizontallist li {
	display:inline-block;
    *display:inline; /*IE7*/
    *zoom:1; /*IE7*/
    background:#000000;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 10px;
    color: #00554a;/*#9a0000;*/
	font-family: arial;
	font-weight: bold;
	font-size: 20px;
    margin-right:2%;
}

div.header {
	background-color: #000000;
	width: 100%;
	padding: 0%;
	margin-top: 0px;
}

div.maintext {
	background-color: #e0e0ff;
	width: 80%;
	float: left;
	margin-top:0%;
	margin-left: 10%;
	margin-right: 0%;
	margin-bottom: 20px;
	padding: 15px;
}

div.indented {
	background-color: ffffff;
	margin-top: 20px;
	margin-right: 40px;
	margin-left: 40px;
	margin-bottom: 20px;
}

div.gamepanel {
	background-color: ffffff;
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
}

div.photo {
	float: left;
	padding-left: 30px;
	padding-right: 30px;
}

div.gamedescription {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
}

div.photoright {
	float:right;
}

div.extrapadding {
	padding-left: 50px;
	padding-right: 50px;
}

div.photolist {
	float: left;
	padding-left:30px;
	padding-right:30px;
	padding-top:15px;
	padding-bottom:15px;
}

div.photolistright {
	float: right;
	padding-left:30px;
	padding-right:30px;
	padding-top:15px;
	padding-bottom:15px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a.directory:link {
	color: #00554a;
	text-decoration: none;
}

a.directory:visited {
	color: #00554a;
	text-decoration: none;
}

a.directory:active {
	color: #a90000;
	text-decoration: underline;
}